[submodule "public"]
	path = public
	url = https://github.com/Kyungpyo-Kim/Kyungpyo-Kim.github.io.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
